<div class="container">
    <div class="box">
        <h2>Sign Up</h2>
        <p>GCETLY Placement</p>
        <form>
            <div class="inputBox">
                <input type="email" name="email" required onkeyup="this.setAttribute('value', this.value);"  value="">
                <label>Email</label>
            </div>
            <div class="inputBox">
                <input type="text" name="name" required onkeyup="this.setAttribute('value', this.value);"  value="">
                <label>Name</label>
            </div>
            <div class="inputBox">
                <input type="text" name="regno" required onkeyup="this.setAttribute('value', this.value);"  value="">
                <label>Register.No</label>
            </div>
            <div class="inputBox">
                <input type="text" name="rollno" required onkeyup="this.setAttribute('value', this.value);"  value="">
                <label>Roll.No</label>
            </div>
            <div class="inputBox">
                <input type="text" name="Phone.No" required onkeyup="this.setAttribute('value', this.value);"  value="">
                <label>Phone.No</label>
            </div>
            <div class="inputBox">
                <input type="number" name="batch" required onkeyup="this.setAttribute('value', this.value);"  value="">
                <label>Batch.No</label>
            </div>
            <div class="inputBox">
                <input type="text" name="department" required onkeyup="this.setAttribute('value', this.value);"  value="">
                <label>Department</label>
            </div>
            <div class="inputBox">
                <input type="text" name="community" required onkeyup="this.setAttribute('value', this.value);"  value="">
                <label>Community</label>
            </div>
            
            <div class="inputBox">
                <input type="text" name="caste" required onkeyup="this.setAttribute('value', this.value);"  value="">
                <label>Caste</label>
            </div>
            <div class="sub-button">
                <button class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>