<div class="container">

    <div class="box">
        <h2>Sign in</h2>
        <p>GCETLY Placement Account</p>
        <form (ngSubmit)="login()">
        <div class="inputBox">
            <input type="text" name="email" required onkeyup="this.setAttribute('value', this.value);"  value="" [(ngModel)]="student.email">
            <label>Email</label>
        </div>
        <div class="inputBox">
                <input type="text" name="text" required onkeyup="this.setAttribute('value', this.value);" value="" [(ngModel)]="student.password">
                <label>Password</label>
            </div>
            <div class="authBtn">
                <button class="btn btn-primary" routerLink="/register">Register</button>
                <input type="submit" class="btn btn-primary" name="sign-in" value="Sign In">
            </div>
        </form>
    </div>
</div>