<div class="container">
    <div class="profile">
        <div class="profile-img-container">
            <div class="profileImg"></div>
        </div>
        <h2>Abishek</h2>
        <p>abishekdeepakffgmail.com</p>
    </div>
    <div class="menuItem">
        <a routerLink="/home/login" routerLinkActive="active">
            <div class="item-box">
                <p class="item-logo"></p>
                <h1>Drive</h1>
            </div>
        </a>
        <a routerLink="/home/register" routerLinkActive="active">
            <div class="item-box">
                <p class="item-logo"></p>
                <h1>company</h1>
            </div>
        </a>
    </div>
    <div style="padding-bottom:5px;">
        <div class="item-box" id="log-box">
            <p class="item-logo"></p>
            <h1>Log Out</h1>
        </div>
        <!-- <button (click)="toggleTheme()" class="toggle-btn" >Toggle</button> -->
    </div>
</div>