/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* light mode */
  --bg-primary:#ffffff;
  --bg-color: #f8f9fa;
  --text-color: #000000;
  --bg-secondary:#000000;
  --bg-color-secondary: #18191A;
  --text-color-secondary: #000000;
  --bg-btn:red;
  }
  
  body.dark-mode {
    /* dark mode */
    --bg-primary:#000000;
    --bg-color: #18191A;
    --text-color: #ffffff;
    --bg-secondary:#ffffff;
    --bg-color-secondary: #f8f9fa;
    --text-color-secondary: #ffffff;
  }
  
body{
  background-color: var(--bg-primary);
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--bg-color) inset !important;
}
input:-webkit-autofill{
  -webkit-text-fill-color: var(--text-color) !important;
}